Repository GewoonRene/yourownpizza, pull requests merged in 2019-12, with the labels that each got.

#9 Create documentation map and readme
  documentation/PvA Your Pizza App.pdf
  documentation/READ.me
Labels: Research, documentation, new feature

#12 Added: Documentation PvE
  documentation/PvE Your Pizza App.pdf
Labels: documentation

#10 Patch PvA
  documentation/PvA Your Pizza App.pdf
Labels: Research, documentation

#11 Rename READ.me to README.md
  documentation/README.md
Labels: Research

#8 Merge Documentation to master
  documentation/User_stories Your Pizza App.xlsx
Labels: documentation, new feature

#13 Master to Functioneel
  documentation/Functioneel ontwerp.pdf
Labels: documentation
